:root{
    --calendar-day-height: calc( var(--calendar-height) / 7 );
    --calendar-day-width: calc( var(--calendar-width) / 7 );
}
#dates--interactive{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100%;
    width: 100%;
}
#calendar-title{
    text-align: center;
}
.day-disabled{
    font-weight: 300 !important;
}
.day-name{
    color: black !important;
}
.day-today{
    border-radius: 50%;
    color: white !important;
    font-weight: bold !important;
    background-color: #4a148c !important;
    box-shadow: 0px 1px 1px #333333;
}
.day-today.day-selected{
    box-shadow: 0px 1px 3px #333333;
}
.day-left{
    border-top-left-radius: 50% ;
    border-bottom-left-radius: 50%;
}
.day-left:before{
    border-color: transparent !important;
}
.day-selected:before{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: -4px;
    height: var(--calendar-day-width);
    width: 0;
    border-style: solid;
    border-width: 0 4px 0 0;
    border-color: #71DD17;
}
.day-selected:after{
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: -4px;
    height: var(--calendar-day-width);
    width: 0;
    border-style: solid;
    border-width: 0 4px 0 0;
    border-color: transparent #71DD17;
}
.day-right{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.day-right:after{
    border-color: transparent !important;
}
.day-wrap{
    float: left;
}
.calendar__day{
    float: left;
    text-align: center;
    height: var(--calendar-day-width);
    width: var(--calendar-day-width);
    margin-bottom: calc( var(--calendar-day-height) - var(--calendar-day-width) );
    padding-top: calc( var(--calendar-day-width) / 2 - 10px );
    box-sizing: border-box;
    font-weight: 900;
    color: black;
    transition: box-shadow 0.5s, border-radius 0.5s, background-color 0.5s, color 0.5s;
}
.calendar__day:before:not(.day-selected){
    border-color: transparent;
}
.calendar__day:before{
    transition: border-color 0.5s;
}
.calendar__day:after:not(.day-selected){
    border-color: transparent;
}
.calendar__day:after{
    transition: border-color 0.5s;
}
.calendar__day--clear{
    clear: both;
}