.start-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: var(--background-color);
    text-align: center;
    box-shadow: 1px 1px 4px 0px var(--highlight);
    user-select: none;
    transition: all 400ms ease-in-out;
}
.start-info--wrapper{
    border-radius: 8px 8px 0 0;
    background-color: var(--darker-background-color);
    background-image: var(--logo);
    color: #FFFFFF;
    background-position: 50% 30%;
    background-size: 40%;
    background-repeat: no-repeat;
    transition: all 250ms ease-in-out;
}
.start-button--wrapper{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    max-width: 160px;
    margin: 10px auto;
}
.start-info--title{
    position: absolute;
    width: 100%;
    margin-top: 36vh;
    font-size: 3rem;
    letter-spacing: 4px;
}
.start-anonymous--padding{
    padding-top: 10px;
}
.start-form--wrapper{
    color: #200F3D;
    box-sizing: border-box;
}
.start-form--wrapper span{
    font-size: 1.1rem;
}
.start-form-user--navigation{
    display: grid;
    width: 180px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
}
.start--user{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: calc(15vh - 40px);
}
.show{
    display: block;
}
.hide{
    display: none;
}
@media (min-width: 700px){
    .start-wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        height: 400px;
        max-width: 800px;
        margin: calc( 50vh - 220px ) auto;
    }
    .start-info--wrapper{
        border-radius: 8px 0 0 8px;
    }
    .start-info--title{
        margin-top: 270px;
        width: 400px;
        font-size: 3.5rem;
    }
    .start--user{
        padding-top: 50px;
    }
}