body{
    margin: 0;
    overflow: hidden;
    font-family: 'Questrial', sans-serif;
    /* background-color: black; */
    background: linear-gradient(30deg, #f96d57, #F9577E);
    height: 100vh;
    font-size: 16px;
}
#calendar{
    position: fixed;
    top: 10vh;
    left: 5vw;
    width: 90vw;
    height: 50vh;
}
.calendar__day:hover{
    border-radius: 50%;
    background-color: #cef957;
    color: black;
}
