#calendar{
    position:fixed;
    top: 0;
    left: 23vw;
    width: 77vw;
    height: 100vh;
}
#dates--interactive{
    margin-top: 43vh;
    height: 54vh;
    width: 100%;
}
.calendar__day--clear{
    clear: both;
}
