#calendar{
    position:fixed;
    top: 0;
    left: 23vw;
    width: 77vw;
    height: 100vh;
}
#dates--interactive{
    margin-top: 43vh;
    height: 54vh;
    width: 100%;
}
.calendar__day{
    float: left;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    height: 5vh; /* 9vh */
    width: 5vh; /*11vw*/
    padding-top: calc( 2.5vh - 10px );
    padding-bottom: calc( 2.5vh - 10px );
    margin: 1.8vh calc(5.5vw - 2.5vh) 1.8vh calc(5.5vw - 2.5vh);
    color: white;
}
/* .calendar__day:hover{
    border-radius: 50%;
    background-color: white;
    color: black;
} */
.calendar__day--clear{
    clear: both;
}
