body{
    margin: 0;
    background: linear-gradient(30deg, #741EFF, #F9577E);
    height: 100vh;
}
.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30vw;
    background: linear-gradient(#FFD600, #FF9A23);
    /* border-right: 1px solid black; */
}
.all-day{
    background-color: #7942e7;
    color: white;
}
.partial-day{
    background-color: #9d78e8;
    color: black;
}