:root{
    --calendar-width: calc( 100vw - 50px);
    --calendar-height: 58vh;
}
#calendar-title{
    font-family: 'Lato';
    height: 4vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    font-size: 15px;
    color: black;
}
#calendar-title--text{
    margin-top: -5px;
    padding-top: 4px;
    font-size: 18px;
    height: 5vh;
}
#calendar-title span{
    color: #5900a3;
    font-size: 15px;
}
#calendar{
    height: var(--calendar-height);
    width: var(--calendar-width);
    margin: auto;
}
.day-selected{
    position: relative;
    box-shadow: -0.5px 1.5px 3px #333333;
    color: white;
    background-color: #71DD17;
}
.day-selected.partial{
    background-color: #ffa726;
}
.day-selected.full{
    background-color: #1e88e5;
}
.day-disabled{
    pointer-events: none;
    color: grey;
}
@media screen and (min-width: 380px){
    #calendar-title{
        font-size: 20px;
    }
}
@media screen and (min-width: 500px){
    #calendar-title{
        font-size: 18px;
    }
}
@media screen and (min-width: 600px){
    :root{
        --calendar-width: 350px;
        --calendar-height: 47vh;
    }
}