:root{
    --calendar-width: calc( 399px * 0.9);
    --calendar-height: 70vh;
    --calendar-day-height: calc( var(--calendar-height) / 7 );
    --calendar-day-width: calc( var(--calendar-width) / 7 );
}
#calendar-title{
    text-align: center;
    height: 5%;
    margin-top: 5%;
    font-size: 24px;
    color: black;
}
#calendar{
    height: var(--calendar-height);
    width: var(--calendar-width);
    margin: auto;
}
.day-selected{
    /* border-radius: 50%; */
    color: white;
    background-color: #59bf5f;
}
.day-disabled{
    /* border-radius: 50%; */
    color: grey;
    /* background-color: #aa0000; */
}