:root{
    --calendar-width: 300px;
    --calendar-height: 70vh;
}
#calendar-title{
    height: 4vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 24px;
    color: black;
}
#calendar{
    height: var(--calendar-height);
    width: var(--calendar-width);
    margin: auto;
}
.day-selected{
    box-shadow: 0px 1px 5px #333333;
    color: white;
    background-color: #76ed98;
}
.day-disabled{
    pointer-events: none;
    color: grey;
}
@media screen and (min-width: 380px){
    :root{
        --calendar-width: 350px;
    }
}
@media screen and (min-width: 500px){
    :root{
        --calendar-width: 440px;
    }
}
@media screen and (min-width: 600px){
    :root{
        --calendar-width: 350px;
        --calendar-height: 55vh;
    }
}