body{
    margin: 0;
    overflow: hidden;
    font-family: 'Questrial', sans-serif;
    background: linear-gradient(30deg, #f96d57, #F9577E);
    height: 100vh;
    font-size: 16px;
}
#selection--times{
    top: 0;
    left: 0;
    height: 100vh;
    width: 30vw;
    background-color: #6B4DC3;
}
#calendar{
    position: fixed;
    top: 10vh;
    left: 30vw;
    width: 70vw;
    height: 45vh;
}
.day-selected{
    border-radius: 50%;
    color: black;
    background-color: #99ff9f;
}