:root{
    --dark-mode: 1;
    --text-color-1: #FFFFFF;
    --text-color-2: #63539b;
    --dark--accent: #200F3D;
    --light--accent: #FF00FF;
    --logo: url('/assets/calendar-dark.svg');
    --background-color: #63539bcc;
    --darker-background-color: #5ac5b3e6;
    --background-highlight: #5ac5b3e6;
    --background-gradient: linear-gradient(230deg, #33685f, #413766);
}
a{
    text-decoration: none;
}
span{
    font-family: 'Raleway', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
.site-mode--toggle{
    position: absolute;
    top: 20px;
    right: 20px;
}
.site-wrapper{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: var(--background-gradient);
    background-size: 400% 400%;
    -webkit-animation: dark-bg 18s ease infinite;
    -moz-animation: dark-bg 18s ease infinite;
    -o-animation: dark-bg 18s ease infinite;
    animation: dark-bg 18s ease infinite;
}
@-webkit-keyframes dark-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes dark-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes dark-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes dark-bg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}