:root{
    --calendar-width: calc( 100vw - 50px);
    --calendar-height: 58vh;
}
.calendar-title{
    font-family: 'Lato';
    height: 8vh;
    text-align: center;
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
#calendar-title--text{
    font-size: 1em;
    box-sizing: border-box;
    padding-top: calc( 4vh - 0.6em);
}
.calendar-title span{
    color: #5900a3;
    font-size: 0.75em !important;
}
#calendar{
    height: var(--calendar-height);
    width: var(--calendar-width);
    margin: auto;
}
.day-selected{
    position: relative;
    box-shadow: -0.5px 1.5px 3px #333333;
    color: white;
    background-color: #71DD17;
}
.day-selected.partial{
    background-color: #ffa726;
}
.day-selected.full{
    background-color: #1e88e5;
}
.day-disabled{
    pointer-events: none;
    color: grey;
}
@media screen and (min-width: 350px){
    #calendar-title--text{
        font-size: 1.5em;
    }
}
@media screen and (min-width: 600px){
    #calendar-title--text{
        font-size: 1.8em;
    }
    :root{
        --calendar-width: 350px;
        --calendar-height: 55vh;
    }
}