.selection-list--title{
    margin-left: 25px;
}
.selection-list{
    width: calc( 100vw - 50px);
    margin-left: 25px;
    box-sizing: border-box;
    padding: 15px;
    white-space: nowrap;
    overflow-x: scroll;
}
.chip{
    margin: 2px;
}
@media screen and (min-width: 600px){
    .selection-list{
        width: 350px;
    }
}