a img {
    height: auto;
    width: 20%;
    margin: 10px calc( 20%/8 - 2px ) 40px calc( 20%/8 - 2px );
    border-radius: 4px;
    border: 2px solid grey;
}
a img:hover{
    border-color: rgb(0, 177, 0);
}